.nav-container{
    height: 70px;
    width: 100%;
    box-shadow: 0 3px 7.5px 0 rgba(0, 0, 0, 0.099);
    
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;

    // @include flex-row; revisit how to make global mixins

}